<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Counter</title>
    <style>
      * {
        text-align: center;
      }
      form {
        display: inline-block;
      }
      .add {
        background-color: green;
        color: black;
      }

      .reset {
        background-color: red;
        color: black;
      }
    </style>
  </head>
  <body>
    <h1>Counter</h1>
    <h2>{{session['count']}}</h2>

    <form action="/add" method="POST">
      <input type="submit" value="Add" class="add" />
    </form>
    <form action="/reset" method="POST">
      <input type="submit" value="Reset" class="reset" />
    </form>
  </body>
</html>
